*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.contenedor_1{
    width: 100%;
    height: 500px;
}
body{
    background-color: blueviolet;
}
.contenedor_1 img{
width: 100%;
height: 80%;
}
header h1{
    color:greenyellow;
    position: absolute;
    padding-right: 1rem;
}
.contenedor_1 h2{
    background-color: violet;
    color: greenyellow;
    text-align: center;
}
.cajas_1{
    /* box model */
    background-color: rgb(139, 205, 231);
    height: 100vh;
    width: 70vw;
    padding: 1.5rem;
    /* position */
    position: fixed;
    top: 0;
    right: 0;
    /* display */
    display: flex;
    flex-direction:column;
    align-items: center;
    /* desaparicon */
    transform: translatex(100%);
    transition: transform .6s ease-in;
}
.logo{
    width:120px;
    height: 120px;
    position: absolute;
    top: 250px;
    left: 0px;
}
#toggle-nav:checked ~ nav{
    transform:translatex(0);
}
nav a{
text-decoration: none;
border: 1px solid black;
background-color: blueviolet;
color: aliceblue;
margin: 1rem;
padding: 1rem;
text-align: center;
}
label[for="toggle-nav"] {
font-size: 2rem;
}
#toggle-nav{
    display: none;
}
#toggle-nav:checked +label{
    transform: translateX(-70vw);
}
/* media */
@media screen and (min-width:780px) {
.contenedor_1 h2{
    background-color: rgb(16, 84, 211);
    color: aliceblue;
    text-align: center;
}
body{
    background-color: aqua;
}
header h1 {
    color: rgb(43, 144, 226);
    margin: 1rem;
}
.cajas_1{
    display: flex;
    background-color: rgb(139, 205, 231);
    margin: 1rem 2rem;
    border: blue solid 1px;
    transform: none;
}

.cajas_1 a{
    margin: 1rem 2rem ;
    text-decoration: none;
}
label[for="toggle-nav"]{
    display: none;
  }

} 
/* fin del media */